:root {
    --darkest-color: #17252A;
    --dark-color: #2B7A78;
    --basic-color: #3AAFA9;
    --light-color: #DEF2F1;
    --lightest-color: #FEFFFF;
}

* {
    margin: 0;
    padding: 0;
    color: var(--darkest-color);
    font-weight: bold;
    font-size: 16px;
    border-color: var(--dark-color);
}

body {
    background-color: var(--light-color);
}

ul {
    list-style-type: none;
    margin: 50px;
}

li {
    background-color: var(--basic-color);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 120px;
}

input[type=text] {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    border-width: 2px;
    background-color: var(--lightest-color);
}

input[type=submit] {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    border-width: 1px;
    margin-left: 20px;
}

select {
    border-radius: 10px;
    padding: 3px;
    background-color: var(--lightest-color);
}

label {
    margin-left: 20px;
}

form {
    margin: 20px;
    text-align: center;
}

img {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font-size: 42px;
    font-weight: bold;
}

h5 {
    font-size: 12px;
    font-weight: normal;
    margin: 5px;
    margin-top: auto;
}

h9 {
    font-size: 8px;
    font-weight: normal;
    margin: 5px;
    margin-top: auto;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: var(--darkest-color);
    height: 50px;
}

a.navbar-item {
    float: left;
    color: var(--basic-color);
    float: left;
    height: inherit;
    width: 100px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a:link {
    text-decoration: none;
}

a.navbar-item:hover {
    background-color: var(--lightest-color);
    color: var(--dark-color);
}

a.navbar:link {
    text-decoration: none;
    color: var(--lightest-color);
}

a.navbar:visited {
    text-decoration: none;
    color: var(--light-color);
}

.advert {
    font-size: 25px;
    color: var(--darkest-color);
}

.title {
    font-size: 32px;
    padding: 20px;
}

.paginator {
    text-align: center;
    margin: 50px 0 0 0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.advert-body {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 150px;
    margin-right: 150px;
}

.description {
    margin-top: 50px;
}

.info {
    float:left;
    display:inline;
}
