:root {
    --darkest-color: #012E40;
    --dark-color: #024959;
    --basic-color: #026773;
    --light-color: #3CA6A6;
    --lightest-color: #F2E3D5;
}

* {
    margin: 0;
    padding: 0;
    color: var(--darkest-color);
    font-weight: bold;
    font-size: 16px;
    border-color: var(--dark-color);
}

body {
    background-color: var(--lightest-color);
}

ul {
    list-style-type: none;
    margin: 50px;
}

li {
    background-color: var(--light-color);
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    border-radius: 5px;
}

input[type=text] {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    border-width: 2px;
}

input[type=submit] {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    border-width: 1px;
}

form {
    text-align: center;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: var(--darkest-color);
    height: 50px;
}

a.navbar-item {
    float: left;
    color: var(--light-color);
    float: left;
    height: inherit;
    width: 100px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a:link {
    text-decoration: none;
}

a.navbar-item:hover {
    background-color: var(--dark-color);
}

a.navbar:link {
    text-decoration: none;
    color: var(--lightest-color);
}

a.navbar:visited {
    text-decoration: none;
    color: var(--light-color);
}

.advert {
    font-size: 25px;
    color: var(--darkest-color);
}
